
<div class="row-fluid">
  <h3>
    Projects
    <a href="" class="btn btn-primary pull-right" ng-click="editProject()">
      <i class="icon-plus"></i> Add
    </a>
  </h3>
  <table class="table table-hover">
    <thead ng-show="projects.length > 0">
        <tr>
            <th>Name</th>
            <th>Customer</th>
            <th>Valid from</th>
            <th>Valid to</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="project in projects">
        <td><a href="" ng-click="editProject(project)">{{project.name}}</a></td>
        <td><a href="" ng-click="editProject(project)">{{project.customerId | customerFormatter:customers}}</a></td>
        <td><a href="" ng-click="editProject(project)">{{project.validFrom | date:'dd.MM.yyyy'}}</a></td>
        <td><a href="" ng-click="editProject(project)">{{project.validTo | date:'dd.MM.yyyy'}}</a></td>
        <td><a href="" ng-click="delete(project)"><i class="icon-remove"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>